img {
  width: 841px;
  height: 780px;
}

.benefit-section {
  display: flex;
  gap: 40px;

  div {
    font-family: Poppins, sans-serif;
    font-weight: 600px;
    text-align: justify;

    h2 {
      font-size: 36px;
      margin-top: 10px;
      margin-bottom: 20px;
    }
    p {
      font-size: 14pt;
    }
  }
}