<section class="benefit-section">
  <div>
    <img src="../_assets/images/team.png">
    <h2>Equipe Capacitada</h2>
    <p>O diferencial que seu negócio precisa. Profissionais especializados, comprometidos em oferecer soluções inovadoras e resultados excepcionais. Estamos prontos para transformar desafios em oportunidades e levar sua empresa ao próximo nível!</p>
  </div>
  <div>
    <img src="../_assets/images/project-guide.png">
    <h2>Seus Projetos Guiados Do Zero</h2>
    <p>Transformamos ideias em realidade com uma abordagem personalizada e expertise em cada etapa. Desde o planejamento até a execução, estamos ao seu lado para garantir o sucesso do seu projeto!</p>
  </div>
</section>