<section class="form-section">
  <div class="text">
    <h3>Fique por dentro de tendências</h3>
    <p>Fique à frente da concorrência: As empresas de sucesso já estão se adaptando às tendências que tornam possível lidar com grandes volumes de requisições e garantir escalabilidade. Não deixe sua empresa ficar para trás – agora é o momento de abraçar novas tecnologias e preparar o seu negócio para crescer sem limites. O mercado exige soluções rápidas e eficazes, e você tem a chance de oferecer isso aos seus clientes. Vamos juntos se preparar para o futuro e garantir que sua empresa esteja sempre um passo à frente. A inovação está ao seu alcance, não perca essa oportunidade, pois a inovação não espera!</p>
  </div>
  <div>
    <form [formGroup]="newsletterForm">
      <label for="name">Nome</label>
      <input type="text" name="" id="name" placeholder="Enter your name" formControlName="name">
      <label for="email">Email</label>
      <input type="email" name="email" id="email" placeholder="Enter your email" formControlName="email">
      <app-btn-primary
        btn-text="se inscreva"
        variant="secondary"
        (click)="submit()"
        [disabled]="!newsletterForm.valid"
        [loading]="loading()"
      ></app-btn-primary>
    </form>
  </div>
</section>